.categories{
  // max-width: 1000px;
  margin-left: 50px;
  margin-right: 50px;
}

.post{
  color: white;
  border-radius: 10px;
  width: 600px;
  min-height: 200px;
  background-color: coral;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  a{
    color: white;
    text-decoration: none;
  }
  .voting{
    max-width: 40px;
    background-color: orange;
    font-size: 24px;
  }
  .title{
    font-size: 30px;
  }
  .author{

  }
}

.postPage{
  text-align: center;
  .title{
    font-size: 45px;

  }
  .category{
    font-style: italic;
    font-size: 28px;
  }
  .details{
    font-size: 24px;
  }
  .body{
    font-size: 34px;
  }
}

.comments{
  width: 800px;
  background-color: coral;
}

.comment{
  background-color: yellow;
  .voting{
    // max-width: 40px;
    background-color: green;
    font-size: 20px;
  }
}

.dude{
  background-color: coral;
}

.wtf{
  background-color: turquoise;
}
